.container{display: flex;
justify-content:space-between}
img{height: 70px; width: 100px;}
.f{height: 150px; width: 250px;}
h2{text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1{color: chocolate; font-family: 'Times New Roman', Times, serif;}
body{background: -webkit-radial-gradient(center, ellipse cover, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */}
