@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Amatic+SC&family=Lavishly+Yours&family=Pacifico&family=Shadows+Into+Light&family=Square+Peg&display=swap');
#cent{color:#aebf76 ;display: flex;
	justify-content: center;align-items:center;color:brown;
	font-size: larger;font-weight: 700;}
	#three{ height:max-content; 
		width:max-content; border:solid rebeccapurple 4px;
		 border: radius 12px;;
		  padding:right 5px; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px;
		  background-color:ghostwhite
}
.flex1{display: flex;}
.out{border-radius: 16px;padding: 5px;color: rgb(112, 97, 58); 	border: 4px solid rebeccapurple;	font-weight: 500; font-size: 18px;color: rgb(110, 24, 24);  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-bottom: 1px;
	background: -webkit-linear-gradient(top, #fefefd 0%,#dce3c4 42%,#aebf76 100%); /* Chrome10-25,Safari5.1-6 */

}
span{color: rgb(75, 75, 144);	font-family: 'Inspiration', cursive ;font-weight: 700;word-spacing: 2px;text-transform:uppercase;font-size: 20px;			}

.flex {
	display: flex;
	text-align: center;
	font-size: 50px;
	flex-direction: column;
	align-items: center;
	letter-spacing: 10px;
	align-content: space-around;
	perspective-origin: 400px;
}


.box_1 {
	background: rgb(2, 0, 36);
	height: 70px;
	width: 400px;
	border-radius: 20px;


	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(231, 231, 241, 0.9385385196374623) 0%, rgba(0, 212, 255, 1) 100%);
}

.box_2 {
	height: 70px;
	width: 400px;
	border-radius: 20px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(47, 47, 172, 0.9385385196374623) 0%, rgba(0, 212, 255, 1) 100%);
}

.box_3 {
	height: 70px;
	width: 400px;
	border-radius: 20px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(129, 175, 90, 0.9385385196374623) 0%, rgba(40, 201, 204, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.box_4 {
	height: 70px;
	width: 400px;
	border-radius: 20px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(129, 175, 90, 0.9385385196374623) 0%, rgba(201, 213, 13, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.box_5 {
	height: 70px;
	width: 400px;
	border-radius: 20px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(129, 175, 90, 0.9385385196374623) 0%, rgba(219, 130, 22, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.tel {

	height: 70px;
	width: 400px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(129, 175, 90, 0.9385385196374623) 0%, rgba(219, 22, 68, 1) 41%, rgba(0, 212, 255, 1) 100%);
	border-radius: 20px;
	text-align: center;

	font-size: 60px;
	letter-spacing: 8px;
	color: cornsilk;
}



.flex1 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	perspective: 440px;
}


.ener {
	height: 73px;
	width: 125px;
	background: rgb(251, 63, 188);
	background: rgb(131, 58, 180);
	border-radius: 20px;
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(246, 239, 9, 0.45702030812324934) 0%, rgba(0, 212, 255, 1) 100%);
	;

	font-size: 24px;
}

a {
	color: black;
}

.mehan {
	height: 73px;
	width: 125px;
	background: rgb(2, 0, 36);

	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(246, 239, 9, 0.45702030812324934) 0%, rgba(0, 212, 255, 1) 100%);
	text-align: center;
	font-size: 23px;
	border-radius: 20px;
}





.difer {
	height: 63px;
	width: 100px;
	font-size: 25px;
	color: white;
	background: rgb(2, 0, 36);
	background: rgb(2, 0, 36);
	background: linear-gradient(197deg, rgba(2, 0, 36, 1) 0%, rgba(246, 239, 9, 0.45702030812324934) 0%, rgba(0, 212, 255, 1) 100%);
	text-align: center;
	border-radius: 20px;
}

body {
	background: rgb(2, 0, 36);
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(129, 175, 90, 0.9385385196374623) 0%, rgba(182, 207, 165, 1) 0%, rgba(83, 22, 75, 0) 0%, rgba(18, 103, 124, 0) 48%, rgba(197, 216, 187, 1) 100%, rgba(162, 195, 137, 1) 100%, rgba(150, 188, 119, 1) 100%);
	height: 100%;
	width: 100%;
}

.box_1:hover {
	transform: scale(1, 1);
	color: red;
}

.box_2:hover {
	transform: rotate(1deg);
	transition: all 1s ease 0s;
}

.box_3 {
	transform-origin: (1, 2);
}

#ansver {
	width: 490px;
	border-radius: 10px;
	color:black;
	font-style: italic;
	font-size: larger;font-size: 25px;font-weight: 700;border: dotted red;
text-align: center;word-spacing: 18px;line-height: 40px;}
h3{border: dotted 3px grey;height:min-content ;width: max-content;padding: 2px;background: -webkit-linear-gradient(top, #e9f6fd 0%,#d3eefb 100%); /* Chrome10-25,Safari5.1-6 */
border-radius: 10px;	 }
#i{color:red;font-family:'Pacifico', cursive;}







