h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;font-size: 3em;box-sizing: content-box;color: darkgreen;
 
}
#q1{font-size: 50px;color: rgb(6, 6, 29);}
#q:hover{color: red;}

.q1{font-size: 2em;margin-left: 40%;color: blue;}
