

body{background: cornsilk;}
td{height: 60px;
width:110px;
border: 6px double;background: rgb(3, 3, 3);color: rgb(241, 239, 234);

font-size: 30px;}
th{font-size: 21px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(219, 15, 15);}
table{text-align: center;margin-top: 40px;}


.w3{font-size: 27px;}
		span{color: chartreuse;height: 25px;width: 110px;background-color: rgb(56, 25, 25);}
		.w4{background: rgb(201, 169, 128);color: black;font-family:monospace;color: rgb(73, 10, 68);font-style: oblique;font-size: 40px;}
		h3{margin-left: 30%;text-align: center;font-size: 30px;text-align: center;font-size: 50px;}
		h1{text-align: center;font-size: 50px;color: darkblue;letter-spacing: 5px;margin-left: 50px;}
		.q1{height: 50px;width: 560px; }
		#a1{background:antiquewhite}
		.w2{background:antiquewhite;border: antiquewhite;}
		#i{color:red}
		#t{font-size: 17px;color: rgb(180, 222, 176);}
		.gold{color:gold}
.inp{  content: '\2713';  
	text-align: center;
	color: white;
	line-height: 1em;
	width: 100px;
	height: 20px;
	border: 2px inset #000;
	border-radius: 0.25em;
	margin: 0.25em;
	display: inline-block;}
	