.flex {
	display: flex;
	justify-content: space-between;
	height: 100px;
	width: 719px;
	text-align: center;
	;

}


.f1 {
	width: 150px;
	height: 100px;
	background: -webkit-linear-gradient(top, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.f2 {
	width: 190px;
	height: 100px;
	font-size:49px ;
	
	color: ;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	/* Chrome10-25,Safari5.1-6 */margin-left: 10px;
}

.f4 {
	width: 150px;
	height: 100px;background: -webkit-linear-gradient(top, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
	margin-right: 20px;border-radius: 20px;
}


.f1,
.f2,
.f4 {
	border:
}




.container {
	display: grid;
	grid-template-columns: 111px 111px 111px 111px 111px 111px;
	grid-template-rows: 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px 111px;
	grid-column-gap: 3px;
	grid-row-gap: 3px;
	text-align: center;
}

div {
	border: dotted 0.1px wheat;
	font-weight: 700;
	font-size: 30px;
	border-radius: 15px;
}

.w {
	grid-row: span 4;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	width: 100px;
	margin-left: 5px;
	;
}

.w3 {
	grid-row: span 4;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	width: 100px;
	margin-left: 5px;
}

.wkl {
	grid-column: span 2;
	text-align: center;
	background: -webkit-linear-gradient(top, #006e2e 0%, #006e2e 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.rad {
	background: -webkit-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%);
	width: 115px;
	/* Chrome10-25,Safari5.1-6 */
}

.sm2126 {
	background: -webkit-linear-gradient(top, #8989ba 0%, #8989ba 100%);
	width: 115px;
	/* Chrome10-25,Safari5.1-6 */
}

.klepka {
	background: -webkit-linear-gradient(top, #006e2e 0%, #006e2e 100%);
	/* Chrome10-25,Safari5.1-6 */
	color: gold;
}

.am {
	background: -webkit-linear-gradient(top, #deefff 0%, #98bede 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.telega {
	grid-column: span 4;
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(42, 200, 71, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(217, 109, 133, 1) 0%, rgba(218, 111, 131, 1) 0%, rgba(13, 132, 198, 0) 40%, rgba(255, 255, 255, 0) 71%, rgba(239, 151, 93, 1) 100%);
}

.zero {
	grid-row: span 3;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	width: 100px;
	margin-left: 5px;
}

.zero1 {
	grid-row: span 4;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	width: 100px;
}

.zero2 {
	grid-column: span 2;
	;
}

.M3048 {
	grid-column: span 2;
	background: -webkit-linear-gradient(top, rgba(242, 245, 246, 1) 0%, rgba(227, 234, 237, 1) 37%, rgba(200, 215, 220, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	/* Chrome10-25,Safari5.1-6 */
}

.tel {
	grid-column: span 2;
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(42, 200, 71, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(217, 109, 133, 1) 0%, rgba(218, 111, 131, 1) 0%, rgba(13, 132, 198, 0) 40%, rgba(255, 255, 255, 0) 71%, rgba(239, 151, 93, 1) 100%);
}

.ww {
	grid-row: span 5;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	width: 100px;
	margin-left: 6px;
}

.proezd {
	grid-column: span 4;
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(171, 163, 152, 1) 0%, rgba(117, 117, 0, 0) 100%);
}

.zer5 {
	grid-row: span 5;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.sm2414 {
	grid-column: span 2;
	background: -webkit-linear-gradient(top, #cedce7 0%, #596a72 100%);
	/* Chrome10-25,Safari5.1-6 */
	;
}

.fp {
	grid-row: span 2;
	background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	word-spacing: 20px;
	line-height: 50px;
	padding-top: 29px;
}

.zer2 {
	grid-row: span 2;
	background: -webkit-linear-gradient(top, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 67%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.tele {
	grid-column: span 4;
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(42, 200, 71, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(217, 109, 133, 1) 0%, rgba(218, 111, 131, 1) 0%, rgba(13, 132, 198, 0) 40%, rgba(255, 255, 255, 0) 71%, rgba(239, 151, 93, 1) 100%);
}

.grp {
	grid-row: span 2;
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(162, 7, 233, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(252, 176, 69, 1) 100%);
	padding-top: 50%;
	font-size: 60px;
	transform: rotate(deg);
}

span {
	transform: rotate(90deg);
	display: block;
	letter-spacing: 8px;
	padding-left: 30px;
}

.wwa {
	font-size: 20px;
	background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	/* Chrome10-25,Safari5.1-6 */
	line-height: 40px;
}

b {
	font-size: 30px;
}

.k0501 {
	background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	line-height: 50px;
	/* Chrome10-25,Safari5.1-6 */
}

.m3048 {
	background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	/* Chrome10-25,Safari5.1-6 */
}

a {
	color: red;font-family:cursive ;
}

.sb833 {
	background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.sb972 {
	background: -webkit-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.shu {
	background: -webkit-linear-gradient(top, #ff670f 0%, #ff670f 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.gate {
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(3, 78, 22, 1) 0%, rgba(208, 93, 149, 1) 0%, rgba(12, 3, 14, 1) 0%, rgba(29, 235, 87, 1) 48%, rgba(11, 11, 101, 1) 100%, rgba(252, 176, 69, 1) 100%);

	color: white;
}

.k2886 {
	background: -webkit-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
	/* Chrome10-25,Safari5.1-6 */
}

.weld {
	background: -webkit-linear-gradient(top, #ffff88 0%, #ffff88 100%);
	/* Chrome10-25,Safari5.1-6 */
}
img{width: 150px;height: 100px; border-radius:20px  ; color: aliceblue;}
.tele{letter-spacing: 10px; }
.weldpolu{height:50px;font-size: 18px;
margin-top: 59px;background: -webkit-linear-gradient(top, #ffff88 0%, #ffff88 100%);position: relative;}
.sb832{background: black ;color:white}
.sb980{background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 *//}
kbd{font-size:11px; position:relative ;margin-bottom: 11px;}
#sb{font-size: 14px;color: #86d97d;}
.gold{color:gold}
#sbb{font-size: 11px ;color: #86d97d;}
