.grid {
	display: grid;
	grid-template-columns: repeat(2, 150px);
	grid-template-rows:  repeat(10, 70px);
	grid-gap: ;

}

.c {
	border: 2px solid;
	text-align: center;
font-size: 20px;
padding: 2px ;
padding-top: 7px;
align-items: center;
background: -webkit-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 600;

}