h1{text-align: center;color: lawngreen;
font-size: 3em; color: crimson;}
body{ background-image:url(40-409335_1920x1080-pastel-wallpaper-tumblr-aesthetic-backgrounds.jpg);
filter:brightness(9%);opacity: 100%;}
ol{font-size: 3em;margin-left: 41%;}